#background {
    background-color:  #C5B4E3;
}

#center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black;
    border-width:1px;
    border-style: solid;
    height: 75px;
    background-color: lightgrey;
    width: max-content;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-weight: bold;
    font-family: Arial;
}